@import "./styles/variables.css";

:root {
  font-family: var(--font-family-base);
  line-height: var(--line-height-normal);
  font-weight: var(--font-weight-normal);

  color-scheme: light;
  color: var(--color-text-primary);
  background-color: var(--color-bg-secondary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
